########################################
# kospi 크롤링 시 필요한 패키지
########################################
selenium>=4.21.0
webdriver-manager>=4.0.1
beautifulsoup4>=4.12.3
pandas>=1.5.0
lxml>=4.9.3  # optional (없어도 동작하지만 빠르고 안정적)

########################################
# 신한증권 데이터 크롤링 시 필요한 패키지
########################################
playwright==1.55.0
pandas>=1.5.0